.mainwrapper{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.countrywrapper{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.flag{
  width: 80px;
  height: 80px;
}

.title{
  font-size: 15px;
  text-align: center;
}